---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import BarChart2 from "../components/ExampleBarChart.svelte"
import LineChart2 from "../components/ExampleLineChart.svelte"
---

<Layout>
	<Hero />
	<!--Does the frequency with which a food is consumed affect the accuracy of macro estimation? -->
	<section class="bg-white p-16 flex flex-col">
		<h2 class="font-bold pb-4 text-4xl">How well do we think we know what we eat most often?</h2>
		<p class="text-xl pb-4">Accuracy of guesses tends to go <strong>down</strong> as you have the food more frequently</p>
		<div class="flex">
		<LineChart2 client:load/>
		<BarChart2 client:load/>
		</div>
	</section>

	<section class="bg-accent p-16 flex flex-col"
		style="background-color: rgb(226, 226, 226);
		color:black"
	>	
	<!-- Do foods with a high number of certain macros have a correlation with the preference or frequency the food is consumed -->
		<h2 class="font-bold pb-4 text-4xl">Does food composition effect preference or frequency</h2>
		<p class="text-xl pb-4">When foods have <strong>X macro</strong> we see preference drop by <strong>%Y</strong> on average</p>
		<div class="flex">

			<BarChart2 client:load/>
			<LineChart2 client:load/>
		</div>
	</section>

	<!--If you have never had a particular food, which particular macro are people worst at guessing (carbs, protein or fat)? -->
	<section class="bg-white p-16 flex flex-col">
		<h2 class="font-bold pb-4 text-4xl">What's hardest to guess?</h2>
		<p class="text-xl pb-4">
			Participants who had never had a particular food were worst at guessing <strong>x macro</strong>
		</p>
		<div class="flex">
			<LineChart2 client:load/>
			<BarChart2 client:load/>
		</div>
	</section>


	<!--Does the confidence level of macro guess have any correlation with the user’s guess accuracy? -->
	<section class="bg-accent p-16 flex flex-col"
		style="background-color: rgb(226, 226, 226);
		color:black"
	>
		<h2 class="font-bold pb-4 text-4xl">Does confidence kill accuracy?</h2>
		<p class="text-xl pb-4">Participants with <strong>higher/lowe</strong> confidence were <strong>more/less accurate</strong></p>
		<div class="flex">

			<BarChart2 client:load/>
			<LineChart2 client:load/>
		</div>
	</section>


	<!--Does estimation accuracy improve over time as participants track more foods? -->
	<section class="bg-white p-16 flex flex-col">
		<h2 class="font-bold pb-4 text-4xl">Is this a learnable skill?</h2>
		<p class="text-xl pb-4">Accuracy of guesses went <strong>up/down</strong> as participants made more guesses</p>
		<div class="flex">
			<LineChart2 client:load/>
			<BarChart2 client:load/>
		</div>
	</section>

</Layout>
