---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import BarChart2 from "../components/examples/ExampleBarChart.svelte"
import LineChart2 from "../components/examples/ExampleLineChart.svelte"
import Question1Bars from "../components/project-charts/mahrooj/bars.svelte"
import Question2 from "../components/project-charts/nabihah/chart.svelte"
import Question3Heatmap from "../components/project-charts/savitur/heatmap.svelte"
import Question3HorizontalBar from "../components/project-charts/savitur/horizontalBar.svelte"
import Question4calorieError from "../components/project-charts/srijita/calorieError.svelte"
import Question4sugarError from "../components/project-charts/srijita/sugarError.svelte"
import Question4carbsError from "../components/project-charts/srijita/carbsError.svelte"
import Question4proteinError from "../components/project-charts/srijita/proteinError.svelte"
import Question4fatsError from "../components/project-charts/srijita/fatsError.svelte"
import Question4StackedChart from "../components/project-charts/srijita/stacked.svelte"
import Question4Heatmap from "../components/project-charts/srijita/heatmap.svelte"
import Question4Line from "../components/project-charts/srijita/lines.svelte"
import Question5Chart from "../components/project-charts/kieran.svelte"
---

<Layout theme="emerald">
	<Hero />
	<!--Does the frequency with which a food is consumed affect the accuracy of macro estimation? -->
	<section class="p-4 md:p-16 flex flex-col items-center">
		<h2 class="font-bold pb-4 text-4xl">How well do we think we know what we eat most often?</h2>
		<!-- <p class="text-xl pb-4">Accuracy of guesses tends to go <strong>down</strong> as you have the food more frequently</p> -->

		<Question1Bars client:load/>

	</section>

	<section class="p-4 md:p-16 bg-accent flex flex-col"
		style="background-color: rgb(226, 226, 226);
		color:black"
	>	
	<!-- Do foods with a high number of certain macros have a correlation with the preference or frequency the food is consumed -->
		<h2 class="font-bold pb-4 text-4xl">Does food composition effect preference or frequency</h2>
		<p class="text-xl pb-4">When foods have <strong>X macro</strong> we see preference drop by <strong>%Y</strong> on average</p>
		<div class="w-full">

			<Question2 client:load/>
		</div>
	</section>

	<!-- Does the user’s perception category of a food influence how accurately they estimate its macros?? -->
	<section class="p-4 md:p-16 flex flex-col">
		<h2 class="font-bold pb-4 text-4xl">Does perception influence guesses?</h2>
		<p class="text-xl pb-4">
			
		</p>
		<div class="flex">
			<Question3Heatmap title="Macro Estimation Error Based On Users' Perception of Food Items" subtitle="Users generally had the most difficulty estimating the carbohydrate content of food items, regardless of how they perceived a particular food item" client:load/>
			<Question3HorizontalBar title="Average Calorie Estimation Error Based on Users' Perceptions of Selected Food Items" subtitle="Users struggled most with meal food items but were significantly more accurate with healthy foods." client:load/>
		</div>
	</section>


	<!-- How does the frequency with which a food is consumed affect the accuracy of macro estimation? -->
	<section class="p-4 md:p-16 bg-accent flex flex-col"
		style="background-color: rgb(226, 226, 226);
		color:black"
	>
		<h2 class="font-bold pb-4 text-4xl">Does frequency of cunsumption effect estimation accuracy?</h2>
		<!-- <p class="text-xl pb-4">Participants with <strong>higher/lowe</strong> confidence were <strong>more/less accurate</strong></p> -->
		<div class="flex">

			<Question4calorieError client:load/>
			<Question4sugarError client:load/>
		</div>
		<div class="flex mt-12">
			<Question4carbsError client:load/>
			<Question4proteinError client:load/>
		</div>
		<div class="flex mt-12">
			<Question4fatsError client:load/>
			<!-- <Question4StackedChart client:load/> -->
		</div>
		<div class="flex mt-12 justify-center items-center w-full p-5">
			<Question4Heatmap client:load/>
		</div>

		<div class="flex mt-12">
			
			<!-- <Question4StackedChart client:load/> -->
		</div>
		
	</section>


	<!--Does estimation accuracy improve over time as participants track more foods? -->
	<section class="p-4 md:p-16 flex flex-col bg-accent-400">
		<h2 class="font-bold pb-4 text-4xl">Is Estimation A Learnable Skill?</h2>
		<p class="text-xl pb-4">Accuracy of guesses was <strong>highly dependent</strong> on <strong>macro</strong> and <strong>participant</strong></p>
		<div class="flex flex-col">
			<div class="grid md:grid-cols-2">
				<Question5Chart
					title="Calories"
					subtitle="Most Participants did better than where they started"
					yAxisDataField="cals_diff"
					xAxisLabel="Batch"
					yAxisLabel="Average Difference from Actual (calories, higher is worse)" 
					domain={[0,150]}
					width={1000}
					strokeWidth={3}
					styleOverrides={{fontSize:"12"}}
					client:load
				/>

				<Question5Chart
					title="Carbs"
					subtitle="Results were Highly Varied"
					yAxisDataField="carbs_diff"
					xAxisLabel="Batch"
					yAxisLabel="Average Difference from Actual (g, higher is worse)" 
					domain={[0,35]}
					marginTop={25}
					width={1000}
					strokeWidth={3}
					styleOverrides={{fontSize:"12"}}
					client:load
				/>
			</div>
			<div class="grid md:grid-cols-2">
				<Question5Chart
					title="Protein"
					subtitle="Results were Highly Varied"
					yAxisDataField="protein_diff"
					xAxisLabel="Batch"
					yAxisLabel="Average Difference from Actual (g, higher is worse)" 
					domain={[0,10]}
					marginTop={25}
					width={1000}
					strokeWidth={3}
					styleOverrides={{fontSize:"12"}}
					client:load
				/>
				<Question5Chart
					title="Fats"
					subtitle="Most Participants Improved Their Guesses Over Time"
					yAxisDataField="fats_diff"
					xAxisLabel="Batch"
					yAxisLabel="Average Difference from Actual (g, higher is worse)" 
					domain={[0,15]}
					marginTop={25}
					width={1000}
					strokeWidth={3}
					styleOverrides={{fontSize:"12"}}
					client:load
				/>
			</div>
		</div>	
	</section>

</Layout>
