<header class="flex bg-black min-h-1/2 md:min-h-screen w-full">
    <div class="md:basis-1/2 md:flex md:flex-col" style="justify-content: center;align-items: center;">
      <h1 class="leading-text text-5xl md:text-9xl p-12 font-bold tracking-widest text-white
        xl:text-[21rem]
      "
      >FOOD</h1>
      <p class=" px-12 py-6 text-xl md:text-3xl text-white">
        How much do we know about what we're eating?
      </p>
    </div>
    <div class="invisible w-0 md:visible md:w-full md:basis-1/2">
        <div class="rounded-lg bg-cover w-full h-full"
            style={`background-image:url(${import.meta.env.BASE_URL+"/broger.png"})`}
        ></div>   
    </div>
</header>
